:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
}

* {
  box-sizing: border-box;
}
